body {
  background: #56ab2f; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #a8e063,
    #56ab2f
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #a8e063,
    #56ab2f
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.container {
  width: 350px;
  margin: auto;
  margin-top: 20px;
  box-sizing: border-box;
  background-color: rgba(196, 247, 76, 0.575);
  box-shadow: 0 0 3px BROWN;
}
h1 {
  color: rgb(0, 0, 0);
  margin: 0;
  font-size: 20px;
  font-weight: bolder;
  padding: 10px 20px;
  background: rgb(171, 246, 0);
  font-family: Georgia, "Times New Roman", Times, serif;
  text-transform: uppercase;
}
input {
  font-size: 15px;
  background-color: rgb(120, 196, 101);
  width: 100%;
  padding: 13px 13px 13px 20px;
  box-sizing: border-box;
  color: white;
  outline: none;
  color: black;
  border: 3px solid rgb(120, 196, 150, 0);
}
input:focus {
  outline: none;
  border: 3px solid rgb(171, 246, 0);
  color: black;
}
.hidden_input{
  display: none;
}
li {
  color: rgb(0, 0, 0);
  height: 40px;
  line-height: 40px;
  font-weight: bold;
}
li:nth-child(2n) {
  background-color: rgb(120, 196, 101);
}
span {
  background-color: black;
  color: #56ab2f;
  text-align: center;
  width: 0px;
  height: 40px;
  display: inline-block;
  margin-right: 20px;
  transition: 0.4s linear;
  opacity: 0;
}
li:hover span {
  width: 40px;
  opacity: 1;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.completed {
  text-decoration: line-through;
  color: gray;
}
.fa-trash {
  color: rgb(171, 246, 0);
  padding: 2px 5px;
}
.fa-plus {
  float: right;
  font-weight: bolder;
  color: black;

}
